body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ece2e2;
    color: #000000;
}

p {
    color: rgb(226, 17, 17);
    font-size: 14px;
}

/* Element Selector */
h1{
    color: rgb(11, 11, 226);
}
/* Class Selector */
.highlight{
    background-color: rgb(216, 216, 21);
}
/* ID Selector */
#unique{
    font-weight: bolder;
    font-style: italic;
}


h3{
    align-content: center;
    color: rgb(11, 1, 1);
    /* CSS Borders */
    border: 2px solid rgb(108, 69, 62);
    /* CSS Margin */
    margin: 20px;
    /* CSS Padding */
    padding: 15px;
    /* CSS width and height */
    width: 300px;
    height: 200px;
}




