
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ece2e2;
    color: #000000;
    text-align: center;
}


h1, h2 {
    color: #0073e6;
    margin-top: 20px;
}
ul {
    padding-left: 20px;
}
p {
    line-height: 1.6;
}


.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}


@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    
    .profile-pic {
        width: 200px;
    }
}
.box-container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2 {
    color: white;
    margin: 0;
    padding-left: 15px;
}
.nav-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.nav-button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
footer p {
    font-size: 20px;
    margin: 0;
}