
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ece2e2;
    color: #333;
    text-align: center;
}


h1 {
    color: #0073e6;
    margin-top: 20px;
}


.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}


@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    
    .profile-pic {
        width: 200px;
    }
}
